.page {
    height: 100%;
    width: 100%;
    display: flex;
}

.menu {
    height: 100%;
    color: hsl(var(--hue), var(--saturation), var(--lightness-2));
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
    overflow: hidden;
}

.content {
    height: 100%;
    flex: 1 0 0;
    overflow: hidden;
    position: relative;
}

.sidebar {
    height: 100%;
    overflow: hidden;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
    transition: display width var(--transition-speed);
}

@media only screen and (min-width:1200px) {
    .menu {
        width: 15rem;
    }

    .sidebar {
        width: 20rem;
    }
}

@media only screen and (min-width:600px) and (max-width:1200px) {
    .menu {
        width: 5rem;
    }

    .sidebar {
        width: 0;
    }

    .text-button {
        display: none;
    }
}

@media only screen and (max-width:600px) {
    .menu {
        width: 0;
    }

    .sidebar {
        display: none;
        width: 100%;
    }

    
    .text-button {
        display: none;
    }
}